@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* logo hex:
purps:
#CB0DFA
#9B18C7
yellow:
#F5ED13
 */

.main-content, body{
  background: url("../images/nb-super-fade.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #F5ED13;

  font-family: 'Open Sans', sans-serif;
}
