@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.main-content, body{
  background: url("../images/nb-super-fade.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Open Sans', sans-serif;
}
