.concert-page {
  padding-top: 10vw;
}

.prediction {
  border: 2px solid #CB0DFA;
}

.prediction h1 {
  font-size: 6vw;
  text-align: center;
}

.prediction input {
  color: black;
}

.concert-info h1 {
  font-size: 6vw;
  text-align: center;
}

.concert-info p {
  font-size: 3vw;
}

.concert-info {
  border: 2px solid #CB0DFA;
  /* position: fixed;
  bottom: 0; */
}
