.login-content {
  margin-left: 12%;
  margin-right: 12%;
  margin-top:20%;
  color: #F5ED13;
}

.sign-in-button {
  width: 100%;
  height: 50px;
  background-color: #CB0DFA;
  color: #F5ED13;
  font-size: 25px;
}

.alert-message{
  margin-top: 20%;
}
